@import 'variables';

.previews-container {
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  .card {
    width: 250px;
    border: 2px solid $light-gray;
    border-radius: .25rem;
    .card-body {
      background-color: $light-gray;
      .card-title {
        text-align: center;
      }
    }
    &.card-prototype {
      display: none;
    }
  }
}

form {
  width: 40%;
  padding: 2rem;
  border-radius: .25rem;
  border: 2px solid $primary;
  box-shadow: $light-shadow;
  margin: 2rem;
  img {
    width: 100%;
  }
}