.vich-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    display: flex;
    justify-content: center;
  }
  img {
    margin-top: 2rem;
    width: 400px;
  }
  .form-group {
    display: none;
  }
  .custom-file label {
    text-align: left;
  }
}
.field-collection-item.field-collection-item-complex .form-widget-compound {
  width: 100%;
}