@import './variables';

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .menu {
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    a {
      color: $white;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 1rem;
    }
  }
}
