@import './_variables.scss';
@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  h1, h2, h3, h4, h5 {
    font-family: $font-family-base;
  }
  font-family: $font-family-text;
}

main {
  height: 100%;
}

nav {
  position: fixed !important;
  width: calc(100% - 2rem);
  opacity: .9;
  z-index: 100;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
  .nav-item {
    .nav-link {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: $font-family-base;
    }
    margin: 0 1rem;
  }
  margin: 1rem;
  border-radius: .25rem;
}