@import './variables';
@import './components/full-page-scroll.min.css';
@import '~bootstrap/scss/bootstrap-grid';
.content {
  padding: 0;
}

.one-page-scroll-container {
  width: 100%;
  height: 100vh;
}

.hero-container,
.last-project-container {
  min-height: 100%;
}

.hero-container {
  position: relative;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right {
    @extend .col-lg-6;
    @extend .col-12;
    display: flex;
    justify-content: center;
    align-items: center;
    .square {
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 80%;
    }
    img {
      filter: drop-shadow(1px 1px 5px black);
      width: 80%;
      height: auto;
    }
  }
  .left {
    @extend .col-lg-6;
    @extend .col-12;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: $primary;
    padding-left: 10%;
    .name-title {
      text-transform: uppercase;
      font-size: 5rem;
    }
    .hero-description {
      font-size: 2rem;
    }
  }


  .arrow-link {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: arrow-move 1.5s linear 0s infinite;

    i {
      color: $primary;
      font-size: 2rem;
    }
  }
  @include media-breakpoint-down(sm) {
    .left {
      .name-title {
        font-size: 3rem;
      }
      .hero-description {
        font-size: 1.7rem;
      }
    }
    .right {
      .square {
        width: 90%;
      }
    }
    .arrow-link {
      transform: translate(-50%, -30%);
    }
  }
}

.last-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;

  .left {
    @extend .col-lg-6;
    @extend .col-12;
    .item {
      background-color: rgba(0, 0, 0, .05);
      padding: 2rem;
      border-radius: .25rem;
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;
      .title {
        color: $white;
        text-transform: uppercase;
      }
      img {
        width: 80%;
        margin: auto;
        filter: drop-shadow(1px 1px 5px black);
      }
      .shop-item {
        text-transform: uppercase;
      }
    }
  }

  .right {
    @extend .col-lg-6;
    @extend .col-12;
    display: flex;
    justify-content: center;
    align-items: center;
    .description {
      width: 80%;
      h3 {
        color: $white;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    justify-content: space-evenly;
    flex-direction: column;
    .right {
      .description h3 {
        font-size: 1.25rem;
      }
    }
    .left {
      .btn {
        padding: .2rem 1rem;
      }
    }
  }
}

.dots li a.active:before,
.dots li a:before {
  background-color: $primary;
}

@keyframes arrow-move {
  0% {
    bottom: 5%;
  }
  25% {
    bottom: 6%;
  }
  50% {
    bottom: 5%;
  }
  75% {
    bottom: 4%;
  }
  100% {
    bottom: 5%;
  }
}