@import 'variables';

.content {
  flex-direction: row;
  padding-top: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  .card {
    width: 250px;
    margin: 1rem;
    border: 1px solid $light-gray;
    .card-body {
      background-color: $light-gray;
    }
    .btn-group {
      width: 100%;
    }
  }
}
