@import 'variables';
@import 'mixins';

.content {
  padding: 0;
  background-color: $blue;
}

.landing-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .anchors {
    position: relative;
    &:hover .links {
      opacity: 1;
      transition: opacity .5s .3s;
    }
    .links {
      position: absolute;
      display: flex;
      left: 50%;
      transform: translate(-50%, 0%);
      opacity: 0;
      transition: opacity .5s .3s;
    }
    a {
      text-decoration: none;
      color: $white;
      font-size: 1.5rem;
      text-align: center;
      margin: 0.5rem 1rem;
      text-transform: uppercase;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .header {
    color: $white;
    font-size: 3rem;


    &.underline{
      position: relative;
    }
    &.underline::before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $white;
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
      &.underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
  i {
    @include arrow-down;
    color: $white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tufting-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 2.5rem;
    color: $white;
  }
  .img-container {
    align-self: flex-end;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    min-height: 100vh;
  }
  img {
    object-fit: contain;
    height: 100%;
    position: absolute;
    &.tall {
      width: 30%;
      left: 50%;
    }
    &.medium {
      width: 30%;
      left: 50%;
      bottom: 3%;
    }
    &.small {
      width: 30%;
      left: 5%;
      bottom: 5%;
      z-index: 11;
    }
  }

  .text {
    width: 40%;
    p {
      color: $white;
      font-size: 1.5rem;
    }
  }
}