{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <div class="one-page-scroll-container" id="scroll-container">
        <section class="hero-container">
            <h1 class="name-title">Clotilde Puy</h1>
            <svg height="100%" width="100%" id="bg-svg" viewBox="0 0 1440 700" xmlns="http://www.w3.org/2000/svg"
                 class="top layer" data-depth="0.2" data-selector="layer">
                <path d="M 0 250 Q 150 50 400 200 Q 500 250 650 200 Q 800 150 800 300 Q 800 600 500 550 Q 250 500 200 500 Q 100 500 0 550 "
                      stroke="none" stroke-width="0" fill="#c6e3e1" class=""></path>
            </svg>
            <div class="background"></div>
            <a href="#1" class="arrow-link">
                <i class="fas fa-chevron-down"></i>
            </a>
        </section>
        <section class="last-project-container">
            <h1 class="project-title">Testing</h1>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
